<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankBalance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BankBalance.Properties.Settings>
            <setting name="SantanderUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SantanderSecurityAnswers" serializeAs="String">
                <value />
            </setting>
            <setting name="SantanderPasscode" serializeAs="String">
                <value />
            </setting>
            <setting name="SantanderRegistrationNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="TsbUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="TsbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TsbMemorableInformation" serializeAs="String">
                <value />
            </setting>
            <setting name="HalifaxUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="HalifaxPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="HalifaxMemorableInformation" serializeAs="String">
                <value />
            </setting>
            <setting name="MAndSUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MAndSPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MAndSSecretAnswer" serializeAs="String">
                <value />
            </setting>
            <setting name="MetroBankUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MetroBankPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MetroBankSecurityNumber" serializeAs="String">
                <value />
            </setting>
        </BankBalance.Properties.Settings>
    </userSettings>
</configuration>
